body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* my content */
.my-container-info{
    padding: 60px 60px;
    width: 770px;
}

.front-deloveloper {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0 0 20px 0;
    }
.my-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin: 0 0 25px 0;
}

.my-info{
    /* width: 400px; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
   /* color: #595959;  */
   color:#000000
    }

.title-summary {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.my-projects-sections {
padding: 45px 0 0 0;
}

.my-work-experience{
    padding-top: 50px;
}

.my-work-experience-compani{
    /* color: #FB6D3A; */
    margin-bottom: 5px;
}

.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px 0;
}

.my-work-experience-time{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #040404;
margin-bottom: 5px;
}    

.my-work-experience-divider{
    color: black;   
}

.my-work-experience-duties{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000; 
}


.my-work-experience-duties1{
padding-left: 15px;
}

.my-work-experience-compani3{
    margin-bottom: 10px;
}

.my-projects{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.my-enumeration{
list-style: none;
}

.my-enumeration li:not(:last-child){
    margin-bottom: 10px;
}

.project-link{
   display: block;
   margin-bottom: 5px;
   width: 105px;
}

.project-git{
    margin-right: 5px;
}

.project1,
.project2,
.project3{
    color: black;
    font-weight: bold;
}

.project1-text{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}   

.project1-text1{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-brcket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}


.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #F5F7FA;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    }

.my-education{
    padding-top: 50px;
}

.my-education-time{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #040404;
}

.my-education-title{
    margin-bottom: 5px;
    color: #000000;
}

.my-education-school{
    margin-bottom: 10px;
}

/* sidebar sections */

.my-photo{
    width: 100%;
    height:310px;
    object-fit: cover;
}

.sidbar-sections{
    background-color: #1E2939;
    width: 310px;
    padding-top: 20px;
    padding-bottom: 40px;

}

.my-tech-skils,
.my-soft-skils,
.my-contacts {
    padding: 30px 0 0 20px;   
}

.sidebar-tech-skils,
.sidebar-soft-skils,
.sidebar-contacts{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.telephone{
display: flex;
align-items: center;
/* margin-bottom: 8px; */
}

/* .telephone::before{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 23px;
    height: 23px;
    border-radius:5px;
    display: inline-block;
    background-color: aliceblue;
    background-image: url(./svg/icons8-сотовый-телефон-48.png);
} */

.email {
    display: flex;
    align-items: center; 
    /* margin-bottom: 8px; */
}

/* .email::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    background-color: aliceblue;
    background-image: url(./svg/icons8-почта-48.png);
} */

.linkedin {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
}

/* .linkedin::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    background-color: aliceblue;
    background-image: url(./svg/icons8-обеденные-кругом-48.png);
} */

.git-hub {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
}

/* .git-hub::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    display: inline-block;
    background-color: aliceblue;
    background-image: url(./svg/icons8-github-30.png);
} */

.contacts-location{
    font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
}

/* contact-section */
.contact-section-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #d1cbe3;
   
}

/* tech skils sektion */
.tech-skils-list{
    padding-left: 17px;

}

.soft-skils-list{
    padding-left: 17px;

}

.tech-skils-item{
    /* color: #FB6D3A */
    color: #ffffff;
}

.tech-skils-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.soft-skils-item{
    /* color: #FB6D3A    */
    /* color: #d1cbe3; */
    color: #ffffff;
}

.soft-skils-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    /* color: #d1cbe3; */
}

